{% extends "base.html" %}
{% block content %}
<div class="span9">
<h1>Регистрация</h1>
<form method="post" action="" class="well form-inline">{% csrf_token %}
<dl class="control-group">
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd class="control-label">{{ field }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    
    <div class="alert">
      {% if field.errors %}
        <button class="close" data-dismiss="alert">×</button>
        <strong>Предупреждение!</strong>{{ field.errors }}
      {% endif %}
    </div>
    </dd>
{% endfor %}
</dl>
<input type="submit" value="Зарегистрироваться" / class="btn btn-primary">
</form>
</div>
{% endblock %}

{% block rigth %}
<div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              Меню
            </ul>
  </div><!--/.well -->
{% endblock %}