{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block rigth %}
<div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              Меню
            </ul>
  </div><!--/.well -->
{% endblock %}

{% block heald %}
<li class="divider"></li>
<li class="nav-header">Теги</li>

{% load tagging_tags %}
{% tag_cloud_for_model article.Article as tags with steps=6 distribution=log %}
{% for tag in tags %}
<li><a href="/tag/{{tag.name|slugify}}">{{tag.name}} <span class="badge badge-info">{{ tag.count }}</span></a></li>
{% endfor %}

<li class="divider"></li>
<li class="nav-header">Авторы</li>
{% for autor in sp_autors %}
  <li><a href="/books/a{{ autor.id }}">{{ autor }}  {{ autor.book_set.all|length }}</span> </a></li>
{% endfor %}

{% endblock %}

{% block content %}
<div class="span9">
<h2 align="center">{{ art.title }}</h2>
                <p >
                    {{ art.text }}

                    <div class="news-footer" style="display: inline-block;
                                                    margin-top: 10px;
                                                    border: 1px solid #e5e5e5;
                                                    color: #888;
                                                    border-radius: 4px;
                                                    padding: 3px 15px;
                                                    font-size: .9em;">
                    <span>Теги: {% for teg in tegi %}

                    <a href="/tag/{{teg|slugify}}">{{teg}}</a>, </span>  
                                {% endfor %}
                    <span>Дата добавления - {{art.add_date}}</span>
                    <span class="news-comment-count">
                    </span>
                    </div>
                <br /><br />
                </p>     


{% load comments %}


{% get_comment_count for art as comment_count %}
<h5>Комментарии ({{ comment_count }}):</h5>
<br />
{% get_comment_list for art as comment_list %}

{% for comment in comment_list %}

<br>
<blockquote>
  <p>{{ comment.comment|escape }}</p>
  <small><h5><a href={{ comment.user_url }}>{{ comment.user_name|escape }}</a><cite title="">  {{ comment.submit_date }}</cite></h5></small>
</blockquote>


<br/>
{% endfor %}
<hr/>
Написать комментарий:
{% render_comment_form for art %}
</div><!--/span-->
{% endblock %}

